@charset "utf-8";
/*! bulma.io v0.9.4 | MIT License | github.com/jgthms/bulma */

$primary: #009688;
$footer-background-color: $primary;
$footer-color: #fff;
$footer-padding: 1rem;
$family-primary: Raleway, BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

@import "bulma/sass/utilities/_all.sass";
@import "bulma/sass/base/_all.sass";
@import "bulma/sass/elements/box.sass";
@import "bulma/sass/elements/button.sass";
@import "bulma/sass/elements/content.sass";
@import "bulma/sass/elements/title.sass";
@import "bulma/sass/elements/other.sass";
@import "bulma/sass/components/navbar.sass";
@import "bulma/sass/components/modal.sass";
@import "bulma/sass/components/dropdown.sass";
@import "bulma/sass/components/level.sass";
@import "bulma/sass/components/menu.sass";
@import "bulma/sass/components/panel.sass";
@import "bulma/sass/grid/_all.sass";
@import "bulma/sass/helpers/_all.sass";
@import "bulma/sass/form/_all.sass";
@import "bulma/sass/layout/_all.sass";

.material-symbols-rounded {
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48;
}
.button .material-symbols-rounded {
    vertical-align: middle;
    font-size: 1rem;
}
html, body {
    height: 100%;
    overflow: auto;
}

.cm-editor.cm-focused {
    outline: none !important;
}
body > .columns {
    max-width: 100%;
    overflow: auto;
}
#input-filter-search + .icon i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.panel {
    height: 100%;
}
#panel-files-list {
    overflow-y: auto;
}