@charset "utf-8";
/*! bulma.io v0.9.4 | MIT License | github.com/jgthms/bulma */

$primary: #009688;
$footer-background-color: $primary;
$footer-color: #fff;
$footer-padding: 1rem;

@import "bulma/sass/utilities/_all.sass";
@import "bulma/sass/base/_all.sass";
@import "bulma/sass/elements/box.sass";
@import "bulma/sass/elements/button.sass";
@import "bulma/sass/elements/content.sass";
@import "bulma/sass/elements/title.sass";
@import "bulma/sass/elements/icon.sass";
@import "bulma/sass/elements/other.sass";
@import "bulma/sass/components/navbar.sass";
@import "bulma/sass/components/dropdown.sass";
@import "bulma/sass/components/level.sass";
@import "bulma/sass/components/menu.sass";
@import "bulma/sass/components/panel.sass";
@import "bulma/sass/grid/_all.sass";
@import "bulma/sass/helpers/_all.sass";
@import "bulma/sass/form/_all.sass";
@import "bulma/sass/layout/_all.sass";

html, body {
    height: 100%;
    overflow: auto;
}
#codemirror-container {
    min-height: 0;
    overflow-y: scroll;
}
.cm-editor.cm-focused {
    outline: none !important;
}
body > .columns {
    max-width: 100%;
    overflow: auto;
}
#input-filter-search + .icon i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.panel {
    height: 100%;
}
#panel-files-list {
    overflow-y: auto;
    a.panel-block:not(.is-active) .panel-icon img {
        filter: grayscale(1);
    }
}

#btn-save-file .icon:nth-child(2):not([hidden]) + .icon:last-child {
    display: none;
}

#btn-save-file .icon:nth-child(2) {
    margin-left: 0.25em;
    margin-right: calc(-0.5em - 1px);
}

[hidden] {
    display: none !important;
}

#btn-open-filesystem {
    background-color: transparent;
}
#btn-open-filesystem:hover {
    background-color: #fff3;
}

.button {
  transition: all 0.1s ease-in-out;
}